
@{
    ViewData["Title"] = "About";
}




<nav class="navbar navbar-expand-md navbar-dark
                bg-primary fixed-top">
    <a asp-controller="Home" asp-action="Index"
       class="list-group-item"> About Me</a>
    <a asp-controller="Home" asp-action="About"
       class="list-group-item">Who am I?</a>
    <a asp-controller="Home" asp-action="VG"
       class="list-group-item">Add Games </a>

    <a asp-controller="Home" asp-action="FavGames"
       class="list-group-item">Favorites </a>
    <a asp-controller="Home" asp-action="Sports"
       class="list-group-item">Sports </a>
    <a asp-controller="Home" asp-action="FunFacts"
       class="list-group-item">Fun Facts </a>
</nav>


<h1> My Hobbies</h1>

<div class="list-group">
    <a href="" class="list-group-item">School</a>
    <a href="" class="list-group-item">Work</a>
    <a href="" class="list-group-item">Video Games</a>
    <a href="" class="list-group-item">Sports</a>
</div>

<h2>School</h2>
<p>I am a student At the University of Cincinnati. I am a double Track Software Devlopment/Data tech Major.</p>
<p> I am a full time student but I also work Full time</p>
<p> I have Completed an EEP and am currently Searching for and Spring and Summer CO-OP</p>

<h2> Work</h2>
<p> Right Now I am working Full time at a Catering/Market Company.</p>
<p>They handle Raw food and large company gatherings</p>

<h2> Video Games</h2>
<p> Playing Video Games is one of my Hobbies that I do often. There are various games that I play and take time to put into. Some of my favorites are Call of Duty, Assasins Creed, Skyrim.</p>