@{
    ViewData["Title"] = "Fun Facts";
}
<nav class="navbar navbar-expand-md navbar-dark
                bg-primary fixed-top">
    <a asp-controller="Home" asp-action="Index"
       class="list-group-item"> About Me</a>
    <a asp-controller="Home" asp-action="About"
       class="list-group-item">Who am I?</a>
    <a asp-controller="Home" asp-action="VG"
       class="list-group-item">Add Games </a>

    <a asp-controller="Home" asp-action="FavGames"
       class="list-group-item">Favorites </a>
    <a asp-controller="Home" asp-action="Sports"
       class="list-group-item">Sports </a>
    <a asp-controller="Home" asp-action="FunFacts"
       class="list-group-item">Fun Facts </a>
</nav>
<h1>Random Facts I have Completed</h1>

<h2>Sport Facts</h2>
<p> Although never playing for high school, I was often picked as the 6th man for teams because I am 6 foot 4</p>
<p> Free throws have been planted as the most important part of basketball, it is true to this day</p>
<p> I have never played in a single game of football or baseball</p>

<h2>Video Game Facts</h2>
<p>I completed my first Playthrough of God of war in 36 hours, and 100% the game</p>
<p> I have way too much time logged into Skyrim</p>
<p> I made the switch from console gaming to PC in 2018 and have never looked back.</p>

