@{
    ViewData["Title"] = "Home Page";
}

<nav class="navbar navbar-expand-md navbar-dark
                bg-primary fixed-top">
    <a asp-controller="Home" asp-action="Index"
       class="list-group-item"> About Me</a>
    <a asp-controller="Home" asp-action="About"
       class="list-group-item">Who am I?</a>
    <a asp-controller="Home" asp-action="VG"
       class="list-group-item">Add Games </a>

    <a asp-controller="Home" asp-action="FavGames"
       class="list-group-item">Favorites </a>
    <a asp-controller="Home" asp-action="Sports"
       class="list-group-item">Sports </a>
    <a asp-controller="Home" asp-action="FunFacts"
       class="list-group-item">Fun Facts </a>
</nav>


<h2>This is Christian!</h2>

<h3> Learn More about Him in the following Pages</h3>

<p> Hello I am Christian I Work Full time and go to school full time</p>
<p> I am 6'4 and love to drink Coffee, play games (video or Board) and hang out with friends</p>

