@{
    ViewData["Title"] = " My Sports";
}
<nav class="navbar navbar-expand-md navbar-dark
                bg-primary fixed-top">
    <a asp-controller="Home" asp-action="Index"
       class="list-group-item"> About Me</a>
    <a asp-controller="Home" asp-action="About"
       class="list-group-item">Who am I?</a>
    <a asp-controller="Home" asp-action="VG"
       class="list-group-item">Add Games </a>

    <a asp-controller="Home" asp-action="FavGames"
       class="list-group-item">Favorites </a>
    <a asp-controller="Home" asp-action="Sports"
       class="list-group-item">Sports </a>
    <a asp-controller="Home" asp-action="FunFacts"
       class="list-group-item">Fun Facts </a>
</nav>

<h1>Favorite Sports</h1>
<p> My favorite Sport is Basketball. I Enjoy watching it on the T.V as well as playing it.</p>
<p> Here is a List of my Favorite NBA Teams:</p>

<ol class="list-group">
    <li class="list-group-item">Warriors</li>
    <li class="list-group-item">Cavaliers</li>
    <li class="list-group-item">Lakers</li>
    <li class="list-group-item">Bulls</li>
    <li class="list-group-item">Celtics</li>
</ol>

<p>I never had the oppurtunity to play for a basketball team in High school \n 
    nowadays I try to put time into local parks.</p>
<p> Basketball also inspired me to get into weightlifting, I go to the Gym Five days a week.</p>